.footer p{
    transform: translateY(-300%);
    margin-left: 650px;
    text-align: center;
    color: white;

}

@media (max-width: 900px){
    .footer p{
        transform: translateY(-300%);
        margin-left: 0;
        text-align: center;
        color: white;
    
    }
    
}