body {
  margin: 0;
  background-image: url(assets/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}